<template>
    <div class="botonera-superior-container">
        <div v-if="!cargando" class="actions-container">
            <button @click="alHacerClick">{{textoDelBoton}}</button>
        </div>
        <div v-else class="actions-container">
            Cargando...
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            cargando: {
              type: Boolean,
              required: true
            },
            textoDelBoton: {
              type: String,
              required: false,
              default: 'Refrescar'
            }
        },
        methods: {
            alHacerClick() {
                this.$emit('refrescarCliqueado');
            }
        }
    }
</script>