<template>
  <div class="main-container">
    <botonera-superior :cargando="cargando" @refrescarCliqueado="obtenerImagenes"></botonera-superior>
    <lista-imagenes :imagenes="imagenes"></lista-imagenes>
  </div>
</template>

<script>
  import BotoneraSuperior from './ButoneraSuperior';
  import ListaImagenes from './ListaImagenes';

export default {
  name: 'HelloWorld',
  components: {
    ListaImagenes,
    BotoneraSuperior
  },
  props: {
  },
  created() {
    this.obtenerImagenes();
  },
  data() {
    return {
      imagenes: [],
      cargando: false
    }
  },
  methods: {
    obtenerImagenes() {
      this.cargando = true;
      let url = 'https://api.thecatapi.com/v1/images/search?limit=5'
      fetch(url).then((response) => {
        response.json().then((result) => {
          this.imagenes = result;
          this.cargando = false;
        });
      }).catch(() => {
        this.cargando = false;
      }).finally(() => {
        this.cargando = false;
      })
    }
  },
  computed: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
