<template>
    <div class="image-list-container">
        <div class="images">
            <img v-for="imagen in imagenes"
                 width="150"
                 :key="imagen.url"
                 :src="imagen.url"
            >
        </div>
    </div>
</template>

<script>
    export default {
        props: {
          imagenes: {
            type: Array,
            required: true
          }
        }
    }
</script>